In [ ]:
## -- Return statement in functions -- ##

In [5]:
def calc(num_1,num_2):
    """Function to calculate two numbers with a+b-a*a"""
    c = num_1+num_2-num_2*num_2
    return c

In [12]:
calc(1,2)

-1

In [13]:
num_value = calc(4,5)
print(num_value)

-16

In [14]:
num_value = calc(10,1)
print(num_value)

10

In [29]:
def calc1(num_1,num_2):
    """Function to calculate two numbers with a+b-a*a"""
    return num_1+num_2-num_2*num_2

In [30]:
calc1(1,2)

-1

In [31]:
num_value = calc1(10,1)
print(num_value)

10

In [35]:
def calc2(num_1,num_2):
    """Function to calculate two numbers with a+b-a*a"""
    return print(f"Value: {num_1+num_2-num_2*num_2}")

In [36]:
num_value = calc2(10,1)
print(num_value)

Value: 10
None

In [37]:
calc2(10,1)

Value: 10

In [46]:
def calc3(num_1,num_2):
    """Function to calculate two numbers with a+b-a*a"""
    c = num_1+num_2-num_2*num_2
    print(f"Value: {c}")
    return c

In [47]:
num_value = calc3(10,1)
print(num_value)

Value: 10
10

In [48]:
calc3(10,1)

Value: 10

10

In [ ]:
## -- return a dict data type -- ##

In [18]:
def my_func(num_1,num_2):
    """Function that returns a dict"""
    c = num_1+(num_1*num_2)
    return {'Number_1':num_1,'Number_2':num_2,'Final_Result':c}

In [19]:
my_func(1,1)

{'Number_1': 1, 'Number_2': 1, 'Final_Result': 2}

In [25]:
def my_func1(num_1,num_2):
    """Function that returns a dict"""
    c = num_1+(num_1*num_2)
    result = {'1st_Value':num_1,'2nd_Value':num_2,'Final_Result':c} 
    return result

In [26]:
values = my_func1(2,9)

print(values)

{'1st_Value': 2, '2nd_Value': 9, 'Final_Result': 20}

In [ ]:
## -- using List in Functions -- ##

In [51]:
my_list = ['alex','bobby',100,98]

type(my_list)

list

In [50]:
print(my_list)

['alex', 'bobby', 100, 98]

In [52]:
def list_func(values):
    print(values)

In [53]:
list_func(my_list)

['alex', 'bobby', 100, 98]

In [76]:
def list_func1(values):
        a = print(f"\nName: {values[0]}, Mark: {values[2]}")
        b = print(f"\nName: {values[1]}, Mark: {values[3]}")
        return 'End'

In [77]:
list_func1(my_list)

Name: alex, Mark: 100

Name: bobby, Mark: 98

'End'

In [ ]:
## -- Arbitary Arguments -- ##

In [79]:
def num_value(num):
    print(num)

In [80]:
num_value(1)

1

In [81]:
num_value(1,2,3)

TypeError: num_value() takes 1 positional argument but 3 were given

In [85]:
def num_value_1(*num):
    print(num)

In [86]:
num_value_1(1,2,3)

(1, 2, 3)

In [88]:
num_value_1(1,2,3,'a',4,5)

(1, 2, 3, 'a', 4, 5)

In [89]:
num_value_1(1)

(1,)

In [90]:
num_value_1('a')

('a',)