In [ ]:
## -- Slicing of List -- ##

In [2]:
places = ['chennai','bangalore','madurai','kochi','hyderabad','mumbai','delhi','goa']

print(places)

['chennai', 'bangalore', 'madurai', 'kochi', 'hyderabad', 'mumbai', 'delhi', 'goa']

In [2]:
type(places)

list

In [3]:
print(places[3])

kochi

In [ ]:
## -- Syntax for slicing -- [StartPoint:EndPoint:StepCount] -- StepCount is optional -- ##

In [9]:
print(places[0:3])

['chennai', 'bangalore', 'madurai']

In [5]:
print(places[0:4])

['chennai', 'bangalore', 'madurai', 'kochi']

In [ ]:
## -- Group the places with 2 places in each group -- ##

In [11]:
print(places[0:2])

['chennai', 'bangalore']

In [12]:
print(places[2:4])

['madurai', 'kochi']

In [13]:
print(places[4:6])

['hyderabad', 'mumbai']

In [14]:
print(places[6:8])

['delhi', 'goa']

In [ ]:
## -- Fetch altenate places from list -- ## ## -- For this STep count is considered -- ##

In [41]:
print(places[0:8:2])

['chennai', 'madurai', 'hyderabad', 'delhi']

In [42]:
print(places[0:8:3])

['chennai', 'kochi', 'delhi']

In [49]:
print(places[0:8:8])

['chennai']

In [50]:
print(places[0:8:9])

['chennai']

In [51]:
print(places[1:8:2])

['bangalore', 'kochi', 'mumbai', 'goa']

In [52]:
print(places[2:8:5])

['madurai', 'goa']

In [ ]:
## -- Negative Indexing -- ##

In [53]:
print(places)

['chennai', 'bangalore', 'madurai', 'kochi', 'hyderabad', 'mumbai', 'delhi', 'goa']

In [55]:
print(places[7])

goa

In [56]:
print(places[-1])

goa

In [ ]:
## -- Printing list in reverse order using indexing -- ## ## -- Reverse is Temp -- ##

In [74]:
print(places[::-1])

['goa', 'delhi', 'mumbai', 'hyderabad', 'kochi', 'madurai', 'bangalore', 'chennai']

In [75]:
places.reverse() ## -- Reverse is permanent -- ##

print(places)

['goa', 'delhi', 'mumbai', 'hyderabad', 'kochi', 'madurai', 'bangalore', 'chennai']

In [79]:
print(places[::-1])

['chennai', 'bangalore', 'madurai', 'kochi', 'hyderabad', 'mumbai', 'delhi', 'goa']

In [80]:
print(places)

['goa', 'delhi', 'mumbai', 'hyderabad', 'kochi', 'madurai', 'bangalore', 'chennai']

In [ ]:
## -- Range Function -- ##

In [95]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [97]:
for num in range(20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [98]:
for num in range(0,21):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [124]:
for num in range(0,21,2):
    print(num) ## -- Even Numbers -- ##

0
2
4
6
8
10
12
14
16
18
20

In [125]:
for num in range(1,21,2):
    print(num) ## -- Odd Numbers -- ##

1
3
5
7
9
11
13
15
17
19

In [ ]:
## -- Print numbers till 30 and get even and odd nums respectively -- ##

In [100]:
numbers = list(range(0,31))

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [118]:
numbers = list(range(0,31,2)) ## -- Even numbers from 0 -- ##

print(numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [119]:
numbers = list(range(2,31,2)) ## -- Even numbers from 2 -- ##

print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [120]:
numbers = list(range(1,31,2)) ## -- Odd numbers from 1 -- ##

print(numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]