In [ ]:
## -- Tuple Datatype -- ##

In [ ]:
## Tuple is immutable, its values cannot be chagned, has to be defined again to alter or modify its values ##

In [30]:
student = ("Alex",1001,[100,99,95])

In [26]:
type(student)

tuple

In [31]:
name,rollno, marks = student

In [35]:
print(f"Name:",name);
print(f"RollNo:",rollno);
print(f"Marks:",marks)

Name: Alex
RollNo: 1001
Marks: [100, 99, 95]

In [32]:
type(name)

str

In [33]:
type(rollno)

int

In [34]:
type(marks)

list

In [44]:
student[1] = 1002

TypeError: 'tuple' object does not support item assignment

In [36]:
print(student[0])

Alex

In [37]:
print(student[1])

1001

In [38]:
print(student[2])

[100, 99, 95]

In [39]:
student.reverse()

print(student)

AttributeError: 'tuple' object has no attribute 'reverse'

In [43]:
print(student[::-1])

print(name)

([100, 99, 95], 1001, 'Alex')
Alex

In [69]:
student_1 = (1001,'Amanda',[100,98,90,95,100])
student_2 = (1002,'Antony',[90,89,100,99,100])
student_3 = (1003,'Bobby',[80,98,96,99,100])

student_list = [student_1,student_2,student_3]

In [92]:
i=0

for stud_tup in student_list:
    
    rollno,name,marks=stud_tup
    i=i+1
    print(f"Student {i}")
    print("=========")
    print(f"RollNo:",rollno)
    print(f"Name:",name)
    print(f"Marks:",marks)  
    print(f"\n")

Student 1
=========
RollNo: 1001
Name: Amanda
Marks: [100, 98, 90, 95, 100]


Student 2
=========
RollNo: 1002
Name: Antony
Marks: [90, 89, 100, 99, 100]


Student 3
=========
RollNo: 1003
Name: Bobby
Marks: [80, 98, 96, 99, 100]

In [ ]:
## -- Dictionary Data Type -- ##

In [ ]:
## -- dict is mutable, values can be changed. Stores values as KEY:VALUE pairs -- ##

In [116]:
student_1 = {'Name':"Alex",'Roll_No':1001,'Marks':[100,99,95]}

print(student_1)

{'Name': 'Alex', 'Roll_No': 1001, 'Marks': [100, 99, 95]}

In [97]:
type(student_1)

dict

In [101]:
student_1['Grade']='A++'

print(student_1)

{'Name': 'Alex', 'Roll_No': 1001, 'Marks': [100, 99, 95], 'Grade': 'A++'}

In [127]:
student_1['Grade']='B++'
student_1['Level']='High'

print(student_1)

{'Roll_No': 1001, 'Name': 'Amanda', 'Marks': [100, 99, 95, 98, 100], 'Grade': 'B++', 'Level': 'High'}

In [106]:
student_1.append('Section')

print(student_1)

AttributeError: 'dict' object has no attribute 'append'

In [103]:
dict(Name="Alex",Roll_No=1001,Marks=[100,99,95])

{'Name': 'Alex', 'Roll_No': 1001, 'Marks': [100, 99, 95]}

In [ ]:
## -- Access / retrive values -- ##

In [109]:
print(student_1['Name'])

Alex

In [110]:
print(student_1['Marks'])

[100, 99, 95]

In [ ]:
## -- Reassign values -- ##

In [128]:
student_1['Marks']=[100, 99, 95,98,100]

print(student_1)

{'Roll_No': 1001, 'Name': 'Amanda', 'Marks': [100, 99, 95, 98, 100], 'Grade': 'B++', 'Level': 'High'}

In [ ]:
## -- Keys can be used to access Values -- ##

In [113]:
print(student_1['Roll_No'])

1001

In [ ]:
## -- Values can not be used to access Keys -- ##

In [114]:
print(student_1['A++'])

KeyError: 'A++'

In [174]:
student_1 = {'Roll_No':1001,'Name':'Amanda','Marks':[100,98,90,95,100]}
student_2 = {'Roll_No':1002,'Name':'Antony','Marks':[90,89,100,99,100]}
student_3 = {'Roll_No':1003,'Name':'Bobby','Marks':[80,98,96,99,100]}

print(student_1)
print(student_2)
print(student_3)

student_list_dict = [student_1,student_2,student_3]

{'Roll_No': 1001, 'Name': 'Amanda', 'Marks': [100, 98, 90, 95, 100]}
{'Roll_No': 1002, 'Name': 'Antony', 'Marks': [90, 89, 100, 99, 100]}
{'Roll_No': 1003, 'Name': 'Bobby', 'Marks': [80, 98, 96, 99, 100]}

In [ ]:
## student_1['Grade']='A++'
## student_2['Grade']='A'
## student_3['Grade']='A++'

## print(student_1)
# print(student_2)
# print(student_3)

# print(student_list_dict)

In [178]:
student_list_dict[0]['Grade']='A++' ##-- equal to  --> student_1['Grade']='A++' -- ##
student_list_dict[1]['Grade']='A'
student_list_dict[2]['Grade']='A++'

# student_list[0]['Level']='High'
# student_list[2]['Level']='High'
# print(student_list)

print(student_list_dict)

type(student_list_dict)

[{'Roll_No': 1001, 'Name': 'Amanda', 'Marks': [100, 98, 90, 95, 100], 'Grade': 'A++'}, {'Roll_No': 1002, 'Name': 'Antony', 'Marks': [90, 89, 100, 99, 100], 'Grade': 'A'}, {'Roll_No': 1003, 'Name': 'Bobby', 'Marks': [80, 98, 96, 99, 100], 'Grade': 'A++'}]

list

In [180]:
list(student_list_dict[0])

['Roll_No', 'Name', 'Marks', 'Grade']

In [181]:
i=0

for stud_dict in student_list_dict:
    
    rollno,name,marks,grade=stud_dict
    i=i+1
    print(f"Student {i}")
    print("=========")
    print(f"RollNo:",stud_dict['Roll_No'])
    print(f"Name:",stud_dict['Name'])
    print(f"Marks:",stud_dict['Marks'])
    print(f"Grade:",stud_dict['Grade'])
    print(f"\n")

Student 1
=========
RollNo: 1001
Name: Amanda
Marks: [100, 98, 90, 95, 100]
Grade: A++


Student 2
=========
RollNo: 1002
Name: Antony
Marks: [90, 89, 100, 99, 100]
Grade: A


Student 3
=========
RollNo: 1003
Name: Bobby
Marks: [80, 98, 96, 99, 100]
Grade: A++