In [ ]:
## -- Looping thorugh Dict -- ##

In [17]:
student_1 = {'Roll_No': 1001, 'Name': 'Amanda', 'Marks': [100, 99, 95, 98, 100], 'Grade': 'B++', 'Level': 'High'}

print(student_1)

{'Roll_No': 1001, 'Name': 'Amanda', 'Marks': [100, 99, 95, 98, 100], 'Grade': 'B++', 'Level': 'High'}

In [64]:
student_1['Roll_No']

1001

In [ ]:
## -- FOR Loop in dict -- ##

In [3]:
for x,y in student_1.items():
    print(f"Key: {x}")
    print(f"Value: {y}")

Key: Roll_No
Value: 1001
Key: Name
Value: Amanda
Key: Marks
Value: [100, 99, 95, 98, 100]
Key: Grade
Value: B++
Key: Level
Value: High

In [4]:
for x,y in student_1.items():
    print(f"\nKey: {x}")
    print(f"Value: {y}")

Key: Roll_No
Value: 1001

Key: Name
Value: Amanda

Key: Marks
Value: [100, 99, 95, 98, 100]

Key: Grade
Value: B++

Key: Level
Value: High

In [ ]:
## -- Get only Key -- ##

In [7]:
for x in student_1.keys():
    print(f"\nKey: {x}")

Key: Roll_No

Key: Name

Key: Marks

Key: Grade

Key: Level

In [ ]:
## -- Get only Values -- ##

In [11]:
for y in student_1.values():
    print(f"\nValue: {y}")

Value: 1001

Value: Amanda

Value: [100, 99, 95, 98, 100]

Value: B++

Value: High

In [12]:
type(student_1.items())

dict_items

In [13]:
type(student_1.keys())

dict_keys

In [14]:
type(student_1.values())

dict_values

In [35]:
students = {'Name1':'Alex','Name2':'Bobby','Name3':'Cathy'}

print(students)

{'Name1': 'Alex', 'Name2': 'Bobby', 'Name3': 'Cathy'}

In [27]:
type(students)

dict

In [36]:
i=0
for x,y in students.items():
    i=i+1
    print(f"student{i} : {x.title()} is {y}")

student1 : Name1 is Alex
student2 : Name2 is Bobby
student3 : Name3 is Cathy

In [67]:
trainee_1 = {'Roll_No':1001,'Name':'Amanda','Marks':[100,98,90,95,100]}
trainee_2 = {'Roll_No':1002,'Name':'Antony','Marks':[90,89,100,99,100]}
trainee_3 = {'Roll_No':1003,'Name':'Bobby','Marks':[80,98,96,99,100]}

print(trainee_1)
print(trainee_2)
print(trainee_3)

trainee_list = [trainee_1,trainee_2,trainee_3]

type(trainee_list)

{'Roll_No': 1001, 'Name': 'Amanda', 'Marks': [100, 98, 90, 95, 100]}
{'Roll_No': 1002, 'Name': 'Antony', 'Marks': [90, 89, 100, 99, 100]}
{'Roll_No': 1003, 'Name': 'Bobby', 'Marks': [80, 98, 96, 99, 100]}

list

In [68]:
trainee_1['Roll_No']

1001

In [48]:
i=0

for trainee in trainee_list:
    i=i+1
    print(f"\nTrainee_{i}")
    print("=========")
    for key,value in trainee.items():
        print(f"{key}: {value}")

Trainee_1
=========
Roll_No: 1001
Name: Amanda
Marks: [100, 98, 90, 95, 100]

Trainee_2
=========
Roll_No: 1002
Name: Antony
Marks: [90, 89, 100, 99, 100]

Trainee_3
=========
Roll_No: 1003
Name: Bobby
Marks: [80, 98, 96, 99, 100]

In [71]:
i=0
for trainee in trainee_list:
    i=i+1
    print(f"\nTrainee_{i}")
    print("=========")
    for x in trainee:
        print(f"{x} :{trainee[x]}")

Trainee_1
=========
Roll_No :1001
Name :Amanda
Marks :[100, 98, 90, 95, 100]

Trainee_2
=========
Roll_No :1002
Name :Antony
Marks :[90, 89, 100, 99, 100]

Trainee_3
=========
Roll_No :1003
Name :Bobby
Marks :[80, 98, 96, 99, 100]